html,
body {
  height: 100%;
}

body {
  background-color: $white;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: $dark-900;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;

  @include width($phone) {
    padding: 0;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 72px 0;

  @include width($tablet-xl) {
    padding: 60px 0;
  }

  @include width($phone) {
    padding: 42px 0;
  }
}

.title {
  margin-bottom: 30px;
  @extend %ruda-600;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @include width($tablet) {
    margin-bottom: 24px;
    font-size: 28px;
  }

  @include width($phone) {
    font-size: 24px;
  }
}

.btn {
  padding: 12px 24px;
  background-color: $green-900;
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: $white;
  transition: background-color 0.5s, box-shadow 0.5s;

  &:focus {
    background-color: $green-900;
    box-shadow: 0 0 0 4px $green-200;
  }

  &:hover {
    box-shadow: none;
    background-color: #4D810C;
  }

  &:active {
    color: rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  @include width($tablet) {
    display: inline-block;
    font-size: 14px;
  }

  &--white {
    display: block;
    margin: 0 auto;
    background-color: $white;
    border: 1px solid $green-900;
    color: $green-900;
    transition: background-color 0.5s, box-shadow 0.5s, color 0.5s;

    &:focus {
      background-color: $white;
      box-shadow: 0 0 0 4px rgba(99, 166, 14, 0.5);
    }

    &:hover {
      background-color: $green-100;
    }

    &:active {
      color: rgba(99, 166, 14, 0.5);
      box-shadow: inset 0 10px 4px rgba(0, 0, 0, 0.1);
    }
  }
}

.animation {
  transition: opacity 0.5s, box-shadow 0.5s;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    box-shadow: 0 0 0 3px #EFF6E7;
    border-radius: 3px;
  }

  &:active {
    color: $green-200;
    box-shadow: none;
    opacity: 1;

    &::before {
      filter: invert(98%) sepia(4%) saturate(994%) hue-rotate(32deg) brightness(96%) contrast(95%);
    }
  }
}