$green-900: #63A60F;
$green-200: #E0EDCF;
$green-100: #EFF6E7;
$dark-900: #121212;
$dark-800: #31352B;
$dark-500: #505050;
$red-900: #CF3E3B;
$orange-900: #FF7A00;
$yellow-900: #FFB800;
$silver-600: #C1C1C1;
$silver-100: #F6F6F6;
$white: #FFFFFF;

$phone: 560;
$tablet: 768;
$tablet-xl: 992;
$desktop: 1230;

%ruda-400 {
  font-family: 'Ruda', sans-serif;
  font-weight: 400;
}

%ruda-500 {
  font-family: 'Ruda', sans-serif;
  font-weight: 500;
}

%ruda-600 {
  font-family: 'Ruda', sans-serif;
  font-weight: 600;
}

%ruda-700 {
  font-family: 'Ruda', sans-serif;
  font-weight: 700;
}

%ruda-900 {
  font-family: 'Ruda', sans-serif;
  font-weight: 900;
}

%background {
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
}

%display-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}