@import 'reset';
@import 'fonts';
@import 'vars';
@import 'libs';
@import 'mixins';
@import 'global';

.header {
  &__top {
    background-color: $dark-800;
    padding: 15px 0;
  }

  &__menu {
    @extend %display-flex;
  }

  &__list {
    display: flex;
  }

  &__link {
    padding: 5px 0;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.125;
    letter-spacing: 0.03em;
    color: $white;
    text-transform: uppercase;

    &--delivery,
    &--line {
      position: relative;

      &::before {
        position: absolute;
        content: '';
        height: 22px;
        top: 0;
        left: 0;
        @extend %background;
        filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(312deg) brightness(105%) contrast(101%);
      }
    }

    &--delivery {
      padding-left: 44px;

      &::before {
        width: 32px;
        background-image: url('../images/sprite.svg#icon-del-address');
      }
    }

    &--line {
      padding-left: 34px;

      &::before {
        width: 22px;
        background-image: url('../images/sprite.svg#icon-tel');
      }
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 48px;
    }

    &--nav {
      &:not(:last-child) {
        margin-right: 24px;
      }
    }
  }

  &__bottom {
    padding: 25px 0;
    background-color: $green-900;
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 24px;
  }

  &__search {
    margin-right: 45px;
  }
}

.logo {
  min-width: 200px;
  height: 60px;

  &__img {
    object-fit: cover;
  }
}

.header-catalog {
  position: relative;
  margin-right: 30px;

  &__btn {
    width: 240px;
    padding: 15px 38px 15px 60px;
    background-color: $white;
    border-radius: 6px;
    font-weight: 600;
    letter-spacing: 0.03em;
    color: $green-900;
    background-image: url('../images/chevron.svg');
    background-position: right 18px center;
    background-repeat: no-repeat;
    background-size: inherit;
  }

  &__burger {
    position: absolute;
    width: 20px;
    height: 1px;
    top: 24px;
    left: 18px;
    background-color: $green-900;

    &::after,
    &::before {
      position: absolute;
      content: '';
      z-index: 1;
      width: 25px;
      height: 1px;
      left: 0;
      background-color: $green-900;
    }

    &::after {
      top: -7px;
    }

    &::before {
      top: 7px;
    }
  }
}


.form-search {
  position: relative;
  max-width: 576px;
  width: 100%;

  &__input {
    position: relative;
    width: 100%;
    padding: 15px 165px 15px 51px;
    border-radius: 6px;
    border: transparent;
    letter-spacing: 0.03em;
    background-image: url('../images/icons/icon-glass.svg');
    background-position: 16px center;
    background-repeat: no-repeat;
    background-size: 20px 20px;

    &::placeholder {
      color: $dark-800;
    }
  }

  &__btn {
    position: absolute;
    right: 0;
    padding: 15px 52px;
    border-radius: 0 6px 6px 0;
    font-weight: 600;
    letter-spacing: 0.03em;
    color: $white;
    text-transform: uppercase;
    background-color: $dark-800;
    transition: box-shadow 0.5s,
      background-color 0.5s,
      color 0.5s;

    &:focus {
      box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
    }

    &:hover {
      background-color: rgba(49, 53, 43, 0.85);
    }

    &:active {
      box-shadow: none;
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.user-nav {
  display: flex;
  align-items: center;
  fill: $white;

  &__item {
    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 3px;
    transition: background-color 0.5s,
      fill 0.5s,
      box-shadow 0.5s;

    &:focus {
      box-shadow: inset 0 0 0 3px #EFF6E7;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &:active {
      fill: rgba(255, 255, 255, 0.5);
    }
  }

  &__num {
    position: absolute;
    top: 3px;
    right: 27px;
    height: 18px;
    padding: 4px 3px;
    background-color: $white;
    border-radius: 9px;
    font-weight: 600;
    font-size: 10px;
    line-height: 1;
    color: $red-900;
  }
}

.slider-top {
  position: relative;

  &__wrapper {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__item {
    @extend %background;
  }

  &__content {
    padding: 24px 24px 36px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;

    @include width($phone) {
      padding: 15px;
    }
  }

  &__title {
    @extend %ruda-900;
    font-size: 60px;
    @include line-clamp(3);
    line-height: 1.3;
    text-transform: uppercase;
    color: $dark-500;

    @include width($desktop) {
      font-weight: 700;
      font-size: 50px;
    }

    @include width($tablet) {
      font-size: 30px;
    }

    @include width($phone) {
      font-size: 20px;
    }
  }

  &__element {
    display: block;
    color: $red-900;
    margin-bottom: 7px;

    @include width($phone) {
      margin-bottom: 15px;
    }
  }

  &__text {
    margin-bottom: 48px;
    font-size: 16px;
    @include line-clamp(2);
    color: $dark-500;

    @include width($tablet-xl) {
      margin-bottom: 35px;
    }

    @include width($phone) {
      margin-bottom: 26px;
    }
  }

  .slick-dots {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;

    @include width($desktop) {
      visibility: visible;
    }

    @include width($tablet) {
      bottom: 24px;
    }

    @include width($phone) {
      bottom: 16px;
    }

    li {
      list-style: none;

      &:not(last-child) {
        margin-right: 30px;

        @include width($phone) {
          margin-right: 12px;
        }
      }
    }

    button {
      font-size: 0;
      width: 20px;
      height: 20px;
      background-color: $white;
      border: 1px solid $silver-600;
      border-radius: 50%;

      @include width($phone) {
        width: 10px;
        height: 10px;
      }
    }

    li.slick-active button {
      background-color: $green-900;
      border: 1px solid $green-900;
      border-radius: 50%;
    }
  }

  &__arrow {
    position: absolute;

    @include width($desktop) {
      visibility: hidden;
    }

    &.slick-disabled {
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 6px;

      path {
        fill: $silver-600;
      }

      &:focus {
        box-shadow: none;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.8);

        path {
          fill: $silver-600;
        }
      }

      &:active {
        box-shadow: none;
        background-color: #F3F3F2;
      }
    }

    &--prev,
    &--next {
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);
      width: 60px;
      height: 60px;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 6px;
      background-repeat: no-repeat;
      background-size: 19px 32px;
      font-size: 0;
      transition: background-color 0.3s, box-shadow 0.5s, fill 0.5s;

      &:focus {
        box-shadow: 0 0 0 3px rgba(99, 166, 14, 0.5);
      }

      &:hover {
        background-color: $green-200;

        path {
          fill: $green-900;
        }
      }

      &:active {
        box-shadow: none;
        background-color: #F3F3F2;
      }
    }

    &--prev {
      left: 60px;
    }

    &--next {
      right: 60px;
    }
  }
}

.advantages {
  background-color: $silver-100;
  padding: 48px 0 29px;

  @include width($tablet-xl) {
    padding: 30px 15px;
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    width: 264px;
    padding-left: 74px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 50px 50px;

    &:not(:last-child) {
      margin-right: 65px;
    }

    &--bike {
      background-image: url('../images/icons/icon-bike.svg');
      background-size: 50px 42px;
    }

    &--box {
      background-image: url('../images/icons/icon-box.svg');
    }

    &--hours {
      background-image: url('../images/icons/icon-hours.svg');
    }
  }

  &__subtitle {
    margin-bottom: 7px;
    font-weight: 600;
    font-size: 16px;
    @include line-clamp(2);
  }

  &__text {
    display: block;
    @include line-clamp(2);
    color: $dark-500;
  }
}

.products-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;

  @include width($tablet-xl) {
    margin-bottom: 38px;
  }

  @include width($tablet) {
    flex-wrap: wrap;
    margin-bottom: 24px;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 24px;

      @include width($tablet) {
        margin-right: 31px;
      }
    }
  }

  &__btn {
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $dark-500;
    border-bottom: 3px solid transparent;
    transition: color 0.5s, box-shadow 0.5s, border-radius 0.5s;

    &.mixitup-control-active {
      border-bottom: 3px solid rgba(99, 166, 14, 0.2);
    }

    &:hover {
      color: $green-900;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 3px;
    }

    &:active {
      box-shadow: none;
    }
  }
}

.top-products {
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px 18px 0;

    @include width($phone) {
      margin: 0 -5px 19px 0;
    }
  }
}

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 409px;
  padding: 57px 0 15px;
  margin: 0 30px 30px 0;
  border: 1px solid rgba(17, 17, 17, 0.2);
  border-radius: 6px;
  background-color: $white;
  transition: border-color 0.5s;

  &:hover {
    border: 1px solid #63A60E;
  }

  &__heart {
    position: absolute;
    padding: 9px 6px 6px;
    top: 7px;
    right: 5px;
    fill: $silver-600;
    transition: fill 0.5s, background-color 0.5s, box-shadow 0.5s;

    &:hover {
      fill: $yellow-900;
    }

    &:focus {
      background-color: rgba(255, 255, 255, 0.0001);
      box-shadow: 0 0 0 3px #E0EDCF;
      border-radius: 3px;
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.0001);
      box-shadow: none;
      fill: rgba(255, 184, 0, 0.5);
    }
  }

  &__link {
    position: relative;
    z-index: 0;
    margin-bottom: 18px;

    @include width($phone) {
      margin-bottom: 15px;
    }

    &::before,
    &::after {
      content: '';
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      transition: opacity 1s;
    }

    &::before {
      z-index: 1;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.1);
    }

    &::after {
      z-index: 2;
      width: 48px;
      height: 48px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 24px;
      background-image: url('../images/icon-glass-green.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 20px 20px;
      background-color: #fff;
    }

    &:hover::before,
    &:hover::after {
      opacity: 1;
    }
  }

  &__img {
    object-fit: cover;
  }

  &__subtitle {
    padding: 0 18px;
    font-weight: 600;
    letter-spacing: 0.03em;
    @include line-clamp(3);
  }

  &__inner {
    margin-top: auto;
    padding: 0 18px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__price {
    line-height: 1;
    letter-spacing: 0.03em;

    &--old {
      display: block;
      position: relative;
      color: $silver-600;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 7px;
        left: 0;
        background-color: $silver-600;
        transform: rotate(-14.99deg);
      }
    }
  }

  &__btn {
    padding: 8px;
    width: 32px;
    height: 32px;
    fill: $white;

    &:active {
      fill: rgba(255, 255, 255, 0.5);
    }
  }
}

.badges {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 12px;
  left: 12px;
  z-index: 1;

  &__badge {
    width: fit-content;
    margin-bottom: 6px;
    padding: 3px 6px;
    border-radius: 6px;
    font-weight: 700;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $white;
    text-transform: uppercase;

    &--new {
      background-color: $green-900;
    }

    &--sale {
      background-color: $red-900;
    }

    &--hit {
      background-color: $orange-900;
    }
  }
}

.banners {
  padding-bottom: 72px;

  &__list {
    display: grid;
    grid-template-columns: 2.1fr 1fr 1fr;
    grid-gap: 30px;
  }

  &__item {
    padding: 76px 32px;
    border-radius: 6px;
    text-transform: uppercase;
    @extend %background;
  }

  &__text,
  &__link {
    font-weight: 700;
    line-height: 1;
    @include line-clamp(2);

    &--white {
      color: $white;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    }
  }

  &__text {
    margin-bottom: 18px;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.1em;
  }

  &__title {
    width: 70%;
    margin-bottom: 12px;
    font-size: 30px;
    letter-spacing: 0;
    text-align: left;
    @include line-clamp(2);

    &--white {
      color: $white;
      text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);
    }

    @include width($tablet) {
      width: 100%;
      margin-bottom: 77px;
      font-size: 24px;
    }
  }

  &__link {
    position: relative;
    padding-bottom: 8px;

    &::after {
      position: absolute;
      content: '';
      width: 165px;
      height: 2px;
      left: 0;
      bottom: 0;
      background-color: $dark-500;
    }

    &--white {
      &::after {
        background-color: $white;
      }
    }
  }
}

.promotion-filter {
  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.promotion-product {
  background-color: #F5F5F5;

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px 18px 0;
  }

  &__btn {
    display: block;
    margin: 0 auto;
  }
}

.promotion-card {
  display: flex;
  flex-direction: row;
  max-width: 300px;
  height: 124px;
  margin: 0 30px 30px 0;
  padding: 13px 12px 11px 12px;

  &__link {
    width: 100px;
    height: 100px;
    margin: 0 12px 0 0;

    &:hover::before,
    &:hover::after {
      opacity: 0;
    }
  }

  &__content {
    width: 164px;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    letter-spacing: 0.03em;
  }

  &__subtitle {
    padding: 0;
    @include line-clamp(3);
  }

  &__wrapper {
    margin-top: auto;
  }

  &__inner {
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  &__price {
    margin-right: 12px;
    font-size: 20px;
    line-height: 1;
    color: #505050;

    &--old {
      position: relative;
      font-size: 12px;
      line-height: 1;
      color: $silver-600;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 7px;
        left: 0;
        background-color: $silver-600;
        transform: rotate(-14.99deg);
      }
    }
  }

  &__currency {
    font-size: 14px;
  }
}

.availability {

  &__stock {
    margin-bottom: 5px;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $green-900;
    text-transform: uppercase;

    &--end {
      color: $red-900;
    }

    &--none {
      color: $silver-600;
    }
  }
}

.rating {
  position: relative;
  padding-right: 18px;

  &::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: 3px;
    right: 0;
    background-image: url('../images/icon-star.svg');
  }

  &__rating-num {
    margin-right: 2px;
    line-height: 1;
    color: #505050;
  }
}

.partners-slider {
  margin-bottom: 69px;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  }

  &__img {
    display: flex;
    align-items: center;
    width: 80px;
    height: 58px;
    opacity: 0.5;
    transition: opacity 0.7s;
    object-fit: contain;

    &:hover {
      opacity: 1;
    }
  }
}

.news {

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 0;
  }

  &__transfer {
    font-weight: 700;
    line-height: 1.3;
    color: $green-900;
    border-bottom: 2px solid $green-900;
    text-transform: uppercase;
    transition: color 0.5s,
      border-color 0.5s,
      background-color 0.5s,
      box-shadow 0.5s,
      border-radius 0.5s;

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 3px;
    }

    &:hover {
      color: #4D800C;
      border-color: #4D800C;
    }

    &:active {
      box-shadow: none;
      color: $green-900;
      border-bottom: 2px solid $green-200;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }


  &__item {
    position: relative;
    max-width: 410px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
  }
}

.article {
  padding-bottom: 18px;

  &__mark {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 20px;
    width: 65px;
    padding: 18px 6px 10px;
    text-align: center;
    background-color: $white;
    border-radius: 0 0 4px 4px;
  }

  &__month {
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.1em;
    margin-bottom: 4px;
    @include line-clamp(1);
  }

  &__number {
    @extend %ruda-600;
    font-size: 30px;
    line-height: 30px;
    @include line-clamp(1);
  }

  &__img {
    margin-bottom: 18px;
    object-fit: cover;
  }

  &__text {
    padding: 0 18px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    transition: color 0.5s;
    @include line-clamp(3);

    &:hover {
      color: $green-900;
    }
  }
}

.footer {
  background-color: $dark-800;
  padding: 30px 0 24px;

  &__logo {
    display: block;
    margin-bottom: 30px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__promotion {
    margin-right: 70px;
  }

  &__text {
    margin-bottom: 18px;
    line-height: 1;
    color: $white;
  }

  &__list {
    columns: 58px 3;
    column-gap: 75px;
  }

  &__item {
    margin-bottom: 18px;
  }

  &__link {
    color: $white;
  }

  &__bottom {
    padding-top: 24px;
    border-top: 1px solid rgb(255, 255, 255, 0.1);
  }

  &__license {
    display: flex;
    justify-content: space-between;
  }

  &__license-text {
    color: $white;
  }

  &__wrapper {
    display: flex;
  }

  &__items {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__form {
    max-width: 306px;
    width: 100%;
  }

  &__input {
    padding: 12px 138px 12px 12px;
    background-image: none;
    line-height: 1;
    letter-spacing: 0;

    &::placeholder {
      color: #4F4F4F;
    }
  }

  &__btn {
    padding: 14px 16px;
    background-color: $green-900;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0;

    &:focus {
      background-color: $green-900;
      box-shadow: 0 0 0 4px $green-200;
    }

    &:hover {
      box-shadow: none;
      background-color: #4D810C;
    }

    &:active {
      color: rgba(255, 255, 255, 0.5);
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}

.footer-address {
  &__item {
    margin-bottom: 18px;
    color: $white;
  }
}

.social {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__link {
    display: block;
    width: 32px;
    height: 32px;
    fill: $white;
    transition: box-shadow 0.5s,
      opacity 0.5s,
      fill 0.5s;

    &:focus {
      box-shadow: 0 0 0 3px #E0EDCF;
      border-radius: 3px;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      fill: $green-200;
    }
  }
}