.form-search {
  position: relative;
  max-width: 576px;
  width: 100%;

  &__input {
    width: 100%;
    padding: 15px 165px 15px 51px;
    border-radius: 6px;
    border: transparent;
    letter-spacing: 0.03em;
    background-image: url('../images/icons/icon-glass.svg');
    background-position: 16px center;
    background-repeat: no-repeat;
    background-size: 20px 20px;

    @include width($desktop) {
      padding-right: 120px;
    }

    @include width($tablet-xl) {
      padding-left: 35px;
      background-position: 10px center;
    }

    &::placeholder {
      color: $dark-800;
    }
  }

  &__btn {
    position: absolute;
    right: 0;
    padding: 15px 52px;
    border-radius: 0 6px 6px 0;
    font-weight: 600;
    letter-spacing: 0.03em;
    color: $white;
    text-transform: uppercase;
    background-color: $dark-800;
    transition: box-shadow 0.5s, background-color 0.5s, color 0.5s;

    &:focus {
      box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
    }

    &:hover {
      background-color: rgba(49, 53, 43, 0.85);
    }

    &:active {
      box-shadow: none;
      color: rgba(255, 255, 255, 0.5);
    }

    @include width($desktop) {
      padding: 15px 30px;
    }
  }

  &__tablet {
    display: none;
    z-index: 5;
    position: absolute;
    width: 375px;
    top: 132px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid $dark-800;

    @include width($phone) {
      top: 112px;
    }

    &--active {
      display: block;
    }

    .form-search__input {
      padding: 14px 120px 14px 45px;
      border-radius: 0;
    }

    .form-search__btn {
      padding: 15px 26px;
      border-radius: 0;
    }
  }
}