.header-catalog {
  position: relative;
  margin-right: 30px;

  &__btn {
    width: 240px;
    padding: 15px 38px 15px 60px;
    background-color: $white;
    border-radius: 6px;
    font-weight: 600;
    letter-spacing: 0.03em;
    color: $green-900;
    background-image: url('../images/chevron.svg');
    background-position: right 18px center;
    background-repeat: no-repeat;
    background-size: inherit;

    &--active {
      border-radius: 6px 6px 0 0;
      background: $green-200;
    }
  }

  &__burger {
    position: absolute;
    width: 20px;
    height: 1px;
    top: 24px;
    left: 18px;
    background-color: $green-900;

    &::after,
    &::before {
      position: absolute;
      content: '';
      z-index: 1;
      width: 25px;
      height: 1px;
      left: 0;
      background-color: $green-900;
    }

    &::after {
      top: -7px;
    }

    &::before {
      top: 7px;
    }
  }

  &__list {
    position: absolute;
    opacity: 0;
    min-width: 240px;
    background: $white;
    border: 1px solid #EBEBEB;
    border-radius: 0 0 6px 6px;
    transition: opacity 0.7s;

    &--active {
      opacity: 1;
    }
  }

  &__item {
    padding: 15px 24px;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #000000;

    &:hover {
      color: $green-900;
      border-left: 3px solid $green-900;

    }

    &:not(:last-child) {
      border-bottom: 1px solid rgba(193, 193, 193, 0.3);
    }
  }
}