.social {
  display: flex;

  @include width($tablet) {
    justify-content: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__link {
    display: block;
    width: 32px;
    height: 32px;
    fill: $white;
    transition: box-shadow 0.5s,
      opacity 0.5s,
      fill 0.5s;

    &:focus {
      box-shadow: 0 0 0 3px #E0EDCF;
      border-radius: 3px;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      fill: $green-200;
    }
  }
}