.user-nav {
  display: flex;
  align-items: center;
  fill: $white;

  &__item {
    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 3px;
    transition: background-color 0.5s,
      fill 0.5s,
      box-shadow 0.5s;

    &:focus {
      box-shadow: inset 0 0 0 3px #EFF6E7;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &:active {
      fill: rgba(255, 255, 255, 0.5);
    }
  }

  &__num {
    position: absolute;
    top: 3px;
    right: 27px;
    height: 18px;
    padding: 4px 3px;
    background-color: $white;
    border-radius: 9px;
    font-weight: 600;
    font-size: 10px;
    line-height: 1;
    color: $red-900;
  }
}