    <section class="banners">
      <h2 class="sr-only">Акции и скидки</h2>
      <div class="container">
        <ul class="banners__list">
          
          <li class="banners__item banners__item--white" style="background-image: url('images/banner/banner-fruits.jpg')">
            <span class="banners__text banners__text--white">Свежайшие фрукты</span>
            <h3 class="banners__title title banners__title--white">Начни фруктовое лето всего от 99 ₽</h3>
            <a class="banners__link banners__link--white" href="#">Перейти к покупкам</a>
          </li>

          <li class="banners__item" style="background-image: url('images/banner/banner-veg.jpg')">
            <span class="banners__text">Сезонная распродажа</span>
            <h4 class="banners__title title">Овощепад до -50% </h4>
            <a class="banners__link" href="#">Перейти к покупкам</a>
          </li>

          <li class="banners__item" style="background-image: url('images/banner/banner-bread.jpg')">
            <span class="banners__text">Ням-ням</span>
            <h3 class="banners__title title">Свежий хлебчик</h3>
            <a class="banners__link" href="#">Перейти к покупкам</a>
          </li>

        </ul>
      </div>
    </section>