    <section class="banners">
      <h2 class="sr-only">Акции и скидки</h2>
      <div class="container">
        <ul class="banners__list">
          <li class="banners__item banners__item--white"
            style="background-image: url('images/banner/banner-fruits.jpg'); width: 630px; height: 300px;">
            <p class="banners__text">СВЕЖАЙШИЕ ФРУКТЫ</p>
            <h4 class="banners__title title">НАЧНИ ФРУКТОВОЕ ЛЕТО ВСЕГО От 99 ₽</h4>
            <a class="banners__link" href="#">ПЕРЕЙТИ К ПОКУПКАМ</a>
          </li>
          <li class="banners__item"
            style="background-image: url('images/banner/banner-veg.jpg'); width: 300px; height: 300px;">
            <p class="banners__text">СЕЗОННАЯ РАСПРОДАЖА</p>
            <h4 class="banners__title title">ОВОЩЕПАД ДО -50% </h4>
            <a class="banners__link" href="#">ПЕРЕЙТИ К ПОКУПКАМ</a>
          </li>
          <li class="banners__item"
            style="background-image: url('images/banner/banner-bread.jpg'); width: 300px; height: 300px;">
            <p class="banners__text">НЯМ-НЯМ</p>
            <h4 class="banners__title title">СВЕЖИЙ ХЛЕБЧИК</h4>
            <a class="banners__link" href="#">ПЕРЕЙТИ К ПОКУПКАМ</a>
          </li>
        </ul>
      </div>
    </section>