  <header class="header">
    <nav class="nav">
      <div class="header__top">
        <div class="container">
          <div class="header__menu">

            <div class="sidenav">
              <div class="sidenav__top">
                <a class="logo sidenav__logo" href="#">
                  <img class="logo__img" src="images/logo-green.svg" width="200" height="60" alt="логотип">
                </a>
                <button class="sidenav__btn" type="button">
                  <svg class="sidenav__icon" width="18" height="18">
                    <use xlink:href="images/sprite.svg#icon-close-btn"></use>
                  </svg>
                  <span class="sr-only">закрыть меню</span>
                </button>
              </div>

              <div class="sidenav__inner">
                <button class="user-nav__link sidenav__link" type="button">
                  <svg class="user-nav__icon" width="25" height="32">
                    <use xlink:href="images/sprite.svg#icon-user"></use>
                  </svg>
                  <span class="sr-only">Перейти в личный кабинет</span>
                </button>
                <a class="sidenav__in" href="">Вход</a>
                <span class="sidenav__line"></span>
                <a class="sidenav__registration" href="">Регистрация</a>
              </div>

              <div class="header-catalog">
                <span class="header-catalog__burger"></span>
                <button class="header-catalog__btn" type="button">Каталог товаров</button>
              </div>

              <address class="contacts">
                <ul class="contacts__menu">
                  <li class="contacts__item contacts__item--phone">
                    <a class="contacts__link animation" href="tel:7907288365">+7 907 288 365</a>
                  </li>
                  <li class="contacts__item contacts__item--point">
                    <a class="contacts__link animation" href="#">Санкт-Петербург, ул. Ленина, 1</a>
                  </li>
                </ul>
                <ul class="social">
                  <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                      <svg class="social__icon" width="33" height="32">
                        <use xlink:href="images/sprite.svg#icon-facebook"></use>
                      </svg>
                    </a>
                    <span class="sr-only">перейти на страницу фейсбук</span>
                  </li>
                  <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                      <svg class="social__icon" width="32" height="32">
                        <use xlink:href="images/sprite.svg#icon-youtube"></use>
                      </svg>
                    </a>
                    <span class="sr-only">перейти на страницу youtube</span>
                  </li>
                  <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                      <svg class="social__icon" width="33" height="32">
                        <use xlink:href="images/sprite.svg#icon-telegram"></use>
                      </svg>
                    </a>
                    <span class="sr-only">написать нам в телеграм</span>
                  </li>
                  <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                      <svg class="social__icon" width="33" height="32">
                        <use xlink:href="images/sprite.svg#icon-instagram"></use>
                      </svg>
                    </a>
                    <span class="sr-only">перейти на страницу инстаграм</span>
                  </li>
                </ul>
              </address>

                <ul class="sidenav__list">
                  <li class="sidenav__item">
                    <a class="sidenav__link" href="#">Доставка</a>
                  </li>
                  <li class="sidenav__item">
                    <a class="sidenav__link" href="#">О нас</a>
                  </li>
                  <li class="sidenav__item">
                    <a class="sidenav__link" href="#">Новости</a>
                  </li>
                  <li class="sidenav__item">
                    <a class="sidenav__link" href="#">Контакты</a>
                  </li>
                  <li class="sidenav__item">
                    <a class="sidenav__link" href="#">Акции</a>
                  </li>
                  <li class="sidenav__item">
                    <a class="sidenav__link" href="#">Вакансии</a>
                  </li>
                  <li class="sidenav__item">
                    <a class="sidenav__link" href="#">Отзывы</a>
                  </li>
                  <li class="sidenav__item">
                    <a class="sidenav__link" href="#">Публичная оферта</a>
                  </li>
                </ul>
            </div>

            <ul class="header__list">
              <li class="header__item header__item--delivery animation">
                <a class="header__link animation" href="#">
                  Адрес и время доставки
                </a>
              </li>

              <li class="header__item header__item--line animation">
                <a class="header__link animation" href="#">
                  Горячая линия 24/7
                </a>
              </li>
            </ul>

            <ul class="header__list">
              <li class="header__item header__item--nav">
                <a class="header__link animation" href="#">Доставка</a>
              </li>

              <li class="header__item header__item--nav">
                <a class="header__link animation" href="#">О нас</a>
              </li>

              <li class="header__item header__item--nav">
                <a class="header__link animation" href="#">Новости</a>
              </li>
            </ul>
            <button class="burger" type="button">
              <span class="burger__menu"></span>
              <span class="sr-only">открыть меню</span>
            </button>
          </div>
        </div>
      </div>

      <div class="header__bottom">
        <div class="container">
          <div class="header__inner">
            <a class="logo header__logo" href="#">
              <img class="logo__img" src="images/logo.svg" width="200" height="60" alt="логотип">
              <img class="logo__min-img" src="images/logo-min.svg" width="36" height="40" alt="логотип">
            </a>

            <div class="header-catalog">
              <span class="header-catalog__burger"></span>
              <button class="header-catalog__btn" type="button">Каталог продуктов</button>
              <ul class="header-catalog__list">
                <li class="header-catalog__item">
                  <a class="header-catalog__link" href="#">Овощи и фрукты</a>
                </li>
                <li class="header-catalog__item">
                  <a class="header-catalog__link" href="#">Бакалея</a>
                </li>
                <li class="header-catalog__item">
                  <a class="header-catalog__link" href="#">Молочные продукты</a>
                </li>
                <li class="header-catalog__item">
                  <a class="header-catalog__link" href="#">Хлеб</a>
                </li>
                <li class="header-catalog__item">
                  <a class="header-catalog__link" href="#">Мясо</a>
                </li>
                <li class="header-catalog__item">
                  <a class="header-catalog__link" href="#">Колбаса</a>
                </li>
                <li class="header-catalog__item">
                  <a class="header-catalog__link" href="#">Рыба</a>
                </li>
                <li class="header-catalog__item">
                  <a class="header-catalog__link" href="#">Алкоголь</a>
                </li>
                <li class="header-catalog__item">
                  <a class="header-catalog__link" href="#">Напитки</a>
                </li>
                <li class="header-catalog__item">
                  <a class="header-catalog__link" href="#">Торты</a>
                </li>
                <li class="header-catalog__item">
                  <a class="header-catalog__link" href="#">Мясо</a>
                </li>
                <li class="header-catalog__item">
                  <a class="header-catalog__link" href="#">Чай, кофе</a>
                </li>
              </ul>
            </div>

            <form class="form-search header__search">
              <label class="sr-only" for="search">Найти в магазине</label>
              <input class="form-search__input" type="search" id="search" placeholder="Найти в магазине ..." required>
              <button class="form-search__btn" type="submit">Поиск</button>
            </form>

            <ul class="user-nav">

              <li class="user-nav__item">
                <form class="form-search form-search__tablet">
                  <label class="sr-only" for="search">Найти в магазине</label>
                  <input class="form-search__input" type="search" id="search" placeholder="Я ищу..."
                    required>
                  <button class="form-search__btn" type="submit">Поиск</button>
                </form>
                <button class="user-nav__link user-nav__link--glass" type="button">
                  <svg class="user-nav__icon" width="24" height="24">
                    <use xlink:href="images/sprite.svg#icon-glass"></use>
                  </svg>
                  <span class="sr-only">Найти в магазине</span>
                </button>
              </li>

              <li class="user-nav__item">
                <button class="user-nav__link user-nav__link--user" type="button">
                  <svg class="user-nav__icon" width="25" height="32">
                    <use xlink:href="images/sprite.svg#icon-user"></use>
                  </svg>
                  <span class="sr-only">Перейти в личный кабинет</span>
                </button>
              </li>

              <li class="user-nav__item">
                <button class="user-nav__link" type="button">
                  <svg class="user-nav__icon" width="32" height="29">
                    <use xlink:href="images/sprite.svg#icon-heart"></use>
                  </svg>
                  <span class="sr-only">Перейти в избранное</span>
                  <span class="user-nav__num">12</span>
                </button>
              </li>

              <li class="user-nav__item">
                <button class="user-nav__link" type="button">
                  <svg class="user-nav__icon" width="32" height="31">
                    <use xlink:href="images/sprite.svg#icon-cart"></use>
                  </svg>
                  <span class="sr-only">Перейти в корзину</span>
                  <span class="user-nav__num">12</span>
                </button>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </nav>
  </header>