  <header class="header">
    <nav class="nav">
      <div class="header__top">
        <div class="container">
          <div class="header__menu">

            <ul class="header__list">
              <li class="header__item">
                <a class="header__link header__link--delivery animation" href="#">
                  Адрес и время доставки
                </a>
              </li>

              <li class="header__item">
                <a class="header__link header__link--line animation" href="#">
                  Горячая линия 24/7
                </a>
              </li>
            </ul>

            <ul class="header__list">
              <li class="header__item header__item--nav">
                <a class="header__link animation" href="#">Доставка</a>
              </li>

              <li class="header__item header__item--nav">
                <a class="header__link animation" href="#">О нас</a>
              </li>

              <li class="header__item header__item--nav">
                <a class="header__link animation" href="#">Новости</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="header__bottom">
        <div class="container">
          <div class="header__inner">
              <a class="logo header__logo" href="#">
                <img class="logo__img" src="images/logo.svg" width="200" height="60" alt="логотип">
              </a>

            <div class="header-catalog">
              <span class="header-catalog__burger"></span>
              <span class="sr-only">Мобильное меню</span>
              <button class="header-catalog__btn" type="button">Каталог продуктов</button>
              <ul class="header-catalog__list">
                <li class="header-catalog__item">
                  <a class="header-catalog__link" href="#">Овощи и фрукты</a>
                </li>
                <li class="header-catalog__item">
                  <a class="header-catalog__link" href="#">Бакалея</a>
                </li>
                <li class="header-catalog__item">
                  <a class="header-catalog__link" href="#">Молочные продукты</a>
                </li>
                <li class="header-catalog__item">
                  <a class="header-catalog__link" href="#">Хлеб</a>
                </li>
                <li class="header-catalog__item">
                  <a class="header-catalog__link" href="#">Мясо</a>
                </li>
                <li class="header-catalog__item">
                  <a class="header-catalog__link" href="#">Колбаса</a>
                </li>
                <li class="header-catalog__item">
                  <a class="header-catalog__link" href="#">Рыба</a>
                </li>
                <li class="header-catalog__item">
                  <a class="header-catalog__link" href="#">Алкоголь</a>
                </li>
                <li class="header-catalog__item">
                  <a class="header-catalog__link" href="#">Напитки</a>
                </li>
                <li class="header-catalog__item">
                  <a class="header-catalog__link" href="#">Торты</a>
                </li>
                <li class="header-catalog__item">
                  <a class="header-catalog__link" href="#">Мясо</a>
                </li>
                <li class="header-catalog__item">
                  <a class="header-catalog__link" href="#">Чай, кофе</a>
                </li>
              </ul>
            </div>

            <form class="form-search header__search">
              <label class="sr-only" for="search">Найти в магазине</label>
              <input class="form-search__input" type="search" id="search" placeholder="Найти в магазине ..." required>
              <button class="form-search__btn" type="submit">Поиск</button>
            </form>
            
            <ul class="user-nav">

              <li class="user-nav__item">
                <button class="user-nav__link" type="button">
                  <svg class="user-nav__icon" width="25" height="32">
                    <use xlink:href="images/sprite.svg#icon-user"></use>
                  </svg>
                  <span class="sr-only">Перейти в личный кабинет</span>
                </button>
              </li>

              <li class="user-nav__item">
                <button class="user-nav__link" type="button">
                  <svg class="user-nav__icon" width="32" height="29">
                    <use xlink:href="images/sprite.svg#icon-heart"></use>
                  </svg>
                  <span class="sr-only">Перейти в избранное</span>
                  <span class="user-nav__num">12</span>
                </button>
              </li>
              
              <li class="user-nav__item">
                <button class="user-nav__link" type="button">
                  <svg class="user-nav__icon" width="32" height="31">
                    <use xlink:href="images/sprite.svg#icon-cart"></use>
                  </svg>
                  <span class="sr-only">Перейти в корзину</span>
                  <span class="user-nav__num">12</span>
                </button>
              </li>
            </ul>
            
          </div>
        </div>
      </div>
    </nav>
  </header>