  <header class="header">
    <nav class="nav">
      <div class="header__top">
        <div class="container">
          <div class="header__menu">
            <ul class="header__icons">
              <li class="header__item">
                <a class="header__link header__link--delivery animation" href="#">
                  АДРЕС И ВРЕМЯ ДОСТАВКИ
                </a>
              </li>
              <li class="header__item">
                <a class="header__link header__link--line animation" href="#">
                  ГОРЯЧАЯ ЛИНИЯ 24/7
                </a>
              </li>
            </ul>
            <ul class="header__list">
              <li class="header__items">
                <a class="header__link animation" href="#">Доставка</a>
              </li>
              <li class="header__items">
                <a class="header__link animation" href="#">О нас</a>
              </li>
              <li class="header__items">
                <a class="header__link animation" href="#">Новости</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="header__bottom">
        <div class="container">
          <div class="header__inner">
            <div class="header__logo">
              <a class="logo" href="#">
                <img class="logo__img" src="images/logo.svg" width="200" height="60" alt="логотип">
              </a>
            </div>

            <div class="header-catalog">
              <span class="header-catalog__burger"></span>
              <button class="header-catalog__btn">Каталог продуктов</button>
            </div>

            <form class="form-search">
              <input class="form-search__input" type="search" name="search" placeholder="Найти в магазине ..." required>
              <label class="sr-only" for="search">Найти в магазине</label>
              <button class="form-search__btn form__btn" type="submit">Поиск</button>
            </form>
            
            <ul class="user-nav">
              <li class="user-nav__item">
                <button class="user-nav__link" type="button">
                  <svg class="user-nav__icon" width="25" height="32">
                    <use xlink:href="images/sprite.svg#icon-user"></use>
                  </svg>
                  <span class="sr-only">Перейти в личный кабинет</span>
                </button>
              </li>
              <li class="user-nav__item">
                <button class="user-nav__link" type="button">
                  <svg class="user-nav__icon" width="32" height="29">
                    <use xlink:href="images/sprite.svg#icon-heart"></use>
                  </svg>
                  <span class="sr-only">Перейти в избранное</span>
                  <span class="user-nav__num">12</span>
                </button>
              </li>
              <li class="user-nav__item">
                <button class="user-nav__link" type="button">
                  <svg class="user-nav__icon" width="32" height="31">
                    <use xlink:href="images/sprite.svg#icon-cart"></use>
                  </svg>
                  <span class="sr-only">Перейти в корзину</span>
                  <span class="user-nav__num">12</span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>