<section class="news section">
  <div class="container">
    
    <ul class="partners-slider">
      <li class="partners-slider__item">
        <div class="partners-slider__content">
          <a class="partners-slider__link" href="#">
            <img class="partners-slider__img" src="images/partners-slider/sprite.svg" alt="Sprite">
          </a>
        </div>
      </li>
      <li class="partners-slider__item">
        <div class="partners-slider__content">
          <a class="partners-slider__link" href="#">
            <img class="partners-slider__img" src="images/partners-slider/dr-pepper.svg" alt="dr-pepper">
          </a>
        </div>
      </li>
      <li class="partners-slider__item">
        <div class="partners-slider__content">
          <a class="partners-slider__link" href="#">
            <img class="partners-slider__img" src="images/partners-slider/сoca-сola.svg" alt="Coca Cola">
          </a>
        </div>
      </li>
      <li class="partners-slider__item">
        <div class="partners-slider__content">
          <a class="partners-slider__link" href="#">
            <img class="partners-slider__img" src="images/partners-slider/pepsi.svg" alt="pepsi">
          </a>
        </div>
      </li>
      <li class="partners-slider__item">
        <div class="partners-slider__content">
          <a class="partners-slider__link" href="#">
            <img class="partners-slider__img" src="images/partners-slider/redbull.svg" alt="redbull">
          </a>
        </div>
      </li>
      <li class="partners-slider__item">
        <div class="partners-slider__content">
          <a class="partners-slider__link" href="#">
            <img class="partners-slider__img" src="images/partners-slider/fanta.svg" alt="fanta">
          </a>
        </div>
      </li>
      <li class="partners-slider__item">
        <div class="partners-slider__content">
          <a class="partners-slider__link" href="#">
            <img class="partners-slider__img" src="images/partners-slider/sprite.svg" alt="Sprite">
          </a>
        </div>
      </li>
      <li class="partners-slider__item">
        <div class="partners-slider__content">
          <a class="partners-slider__link" href="#">
            <img class="partners-slider__img" src="images/partners-slider/dr-pepper.svg" alt="dr-pepper">
          </a>
        </div>
      </li>
    </ul>

    <div class="news__top">
      <h2 class="title news__title">
        НАШИ НОВОСТИ
      </h2>
      <a class="news__subtitle" href="#">
        ВСЕ НОВОСТИ
      </a>
    </div>
    <ul class="news__list">
      <li class="news__item">
        <article class="news__article">
          <a class="news__link" href="#" target="_blank">
            <div class="news__mark">
              <span class="news__month">ИЮЛЬ</span>
              <span class="news__number">15</span>
            </div>
            <img class="news__img" src="images/news-bg/fruits.jpg" width="410" height="240"
              alt="распродажа сезонных фруктов">
            <p class="news__text">
              Событие этого лета: распродажа сезонных фруктов в онлайн-маркете ФрешОК. Торопись, пока всё не разобрали!
            </p>
          </a>
        </article>
      </li>
      <li class="news__item">
        <article class="news__article">
          <a class="news__link" href="#" target="_blank">
            <div class="news__mark">
              <span class="news__month">МАЙ</span>
              <span class="news__number">07</span>
            </div>
            <img class="news__img" src="images/news-bg/mango.jpg" width="410" height="240"
              alt="Шикарнейший выбор манго">
            <p class="news__text">
              Шикарнейший выбор манго в нашем онлайн-маркете
            </p>
          </a>
        </article>
      </li>
      <li class="news__item">
        <article class="news__article">
          <a class="news__link" href="#" target="_blank">
            <div class="news__mark">
              <span class="news__month">ФЕВРАЛЬ</span>
              <span class="news__number">20</span>
            </div>
            <img class="news__img" src="images/news-bg/papaia.jpg" width="410" height="240"
              alt="Всё, что вы хотели знать о папайя">
            <p class="news__text">
              Всё, что вы хотели знать о папайя
            </p>
          </a>
        </article>
      </li>
    </ul>
  </div>
</section>