    <section class="promotion-product section">
      <div class="container">
        <h2 class="title">
          Акции
        </h2>
        <div data-ref="container-2">
          <ul class="products-filter__list">
            <li class="products-filter__item">
              <button class="products-filter__btn" type="button" data-filter="all">
                Все товары
              </button>
            </li>
            <li class="products-filter__item">
              <button class="products-filter__btn" type="button" data-filter=".category-new">
                Новинки
              </button>
            </li>
            <li class="products-filter__item">
              <button class="products-filter__btn" type="button" data-filter=".category-hit">
                Хиты
              </button>
            </li>
          </ul>
          <ul class="promotion-product__list">
            <li class="promotion-product__item">
              <article class="promotion-card mix category-new">
                <span class="promotion-card__badge promotion-card__badge--new">Новинка</span>
                <a class="promotion-card__link" href="#">
                  <img class="promotion-card__img" src="images/product/pineapple-s.jpg"
                    width="100" height="100" alt="ананас">
                </a>
                <div class="promotion-card__content">
                  <h3 class="promotion-card__title">
                    Ананас, 1кг
                  </h3>
                  <div class="promotion-card__wrapper">
                    <span class="promotion-card__availability">
                      в наличии
                    </span>
                    <div class="promotion-card__inner">
                      <div class="promotion-card__prise">
                        <div class="promotion-card__prise--new">999<span>₽</span></div>
                        <div class="promotion-card__prise--old">1999 <span>₽</span></div>
                      </div>
                      <div class="promotion-card__rating">
                        <span class="promotion-card__rating-num">4.5</span>
                        <img class="promotion-card__star" src="images/icon-star.svg" alt="звезда рейтинга">
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </li>
            <li class="promotion-product__item">
              <article class="promotion-card mix category-new">
                <span class="promotion-card__badge promotion-card__badge--new">Новинка</span>
                <a class="promotion-card__link" href="#">
                  <img class="promotion-card__img" src="images/product/coffee-s.jpg"
                    width="100" height="100" alt="кофе">
                </a>
                <div class="promotion-card__content">
                  <h3 class="promotion-card__title">
                    Кофе с коноплей органический Caffé Salomoni 250г
                  </h3>
                  <div class="promotion-card__wrapper">
                    <span class="promotion-card__availability promotion-card__availability--end">
                      заканчивается
                    </span>
                    <div class="promotion-card__inner">
                      <div class="promotion-card__prise">
                        <div class="promotion-card__prise--new">777<span>₽</span></div>
                        <div class="promotion-card__prise--old">877 <span>₽</span></div>
                      </div>
                      <div class="promotion-card__rating">
                        <span class="promotion-card__rating-num">4.9</span>
                        <img class="promotion-card__star" src="images/icon-star.svg" alt="звезда рейтинга">
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </li>
            <li class="promotion-product__item">
              <article class="promotion-card mix category-new">
                <span class="promotion-card__badge promotion-card__badge--new">Новинка</span>
                <a class="promotion-card__link" href="#">
                  <img class="promotion-card__img product__img--pineapple" src="images/product/strawberry-s.jpg" wdth="100" height="100" alt="Клубника">
                </a>
                <div class="promotion-card__content">
                  <h3 class="promotion-card__title">
                    Клубника, 1 кг
                  </h3>
                  <div class="promotion-card__wrapper">
                    <span class="promotion-card__availability promotion-card__availability--none">
                      НЕТ В НАЛИЧИИ
                    </span>
                    <div class="promotion-card__inner">
                      <div class="promotion-card__prise">
                        <div class="promotion-card__prise--new">440<span>₽</span></div>
                        <div class="promotion-card__prise--old">600 <span>₽</span></div>
                      </div>
                      <div class="promotion-card__rating">
                        <span class="promotion-card__rating-num">5.0</span>
                        <img class="promotion-card__star" src="images/icon-star.svg" alt="звезда рейтинга">
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </li>
            <li class="promotion-product__item">
              <article class="promotion-card mix category-new">
                <span class="promotion-card__badge promotion-card__badge--new">Новинка</span>
                <a class="promotion-card__link" href="#">
                  <img class="promotion-card__img product__img--pineapple" src="images/product/mango-s.jpg"
                    width="100" height="100" alt="ананас">
                </a>
                <div class="promotion-card__content">
                  <h3 class="promotion-card__title">
                    Манго, 1 шт
                  </h3>
                  <div class="promotion-card__wrapper">
                    <span class="promotion-card__availability">
                      в наличии
                    </span>
                    <div class="promotion-card__inner">
                      <div class="promotion-card__prise">
                        <div class="promotion-card__prise--new">660<span>₽</span></div>
                        <div class="promotion-card__prise--old">960 <span>₽</span></div>
                      </div>
                      <div class="promotion-card__rating">
                        <span class="promotion-card__rating-num">5.0</span>
                        <img class="promotion-card__star" src="images/icon-star.svg" alt="звезда рейтинга">
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </li>
            <li class="promotion-product__item">
              <article class="promotion-card mix category-new">
                <span class="promotion-card__badge promotion-card__badge--new">Новинка</span>
                <a class="promotion-card__link" href="#">
                  <img class="promotion-card__img product__img--pineapple" src="images/product/salmon-s.jpg"
                    width="100"
                    height="100" alt="лосось">
                </a>
                <div class="promotion-card__content">
                  <h3 class="promotion-card__title">
                    Лосось, 1 кг
                  </h3>
                  <div class="promotion-card__wrapper">
                    <span class="promotion-card__availability">
                      в наличии
                    </span>
                    <div class="promotion-card__inner">
                      <div class="promotion-card__prise">
                        <div class="promotion-card__prise--new">999<span>₽</span></div>
                        <div class="promotion-card__prise--old">1199 <span>₽</span></div>
                      </div>
                      <div class="promotion-card__rating">
                        <span class="promotion-card__rating-num">4.5</span>
                        <img class="promotion-card__star" src="images/icon-star.svg" alt="звезда рейтинга">
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </li>
            <li class="promotion-product__item">
              <article class="promotion-card mix category-hit">
                <span class="promotion-card__badge promotion-card__badge--hit">Хит</span>
                <a class="promotion-card__link" href="#">
                  <img class="promotion-card__img product__img--pineapple" src="images/product/juice-s.jpg" width="100"
                    height="100" alt="сок">
                </a>
                <div class="promotion-card__content">
                  <h3 class="promotion-card__title">
                    Сок Granini овощной 100%, 0.5л
                  </h3>
                  <div class="promotion-card__wrapper">
                    <span class="promotion-card__availability promotion-card__availability--end">
                      заканчивается
                    </span>
                    <div class="promotion-card__inner">
                      <div class="promotion-card__prise">
                        <div class="promotion-card__prise--new">180<span>₽</span></div>
                        <div class="promotion-card__prise--old">230 <span>₽</span></div>
                      </div>
                      <div class="promotion-card__rating">
                        <span class="promotion-card__rating-num">4.9</span>
                        <img class="promotion-card__star" src="images/icon-star.svg" alt="звезда рейтинга">
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </li>
            <li class="promotion-product__item">
              <article class="promotion-card mix category-hit">
                <span class="promotion-card__badge promotion-card__badge--hit">Хит</span>
                <a class="promotion-card__link" href="#">
                  <img class="promotion-card__img product__img--pineapple" src="images/product/basket-s.jpg" width="100"
                    height="100" alt="козина с фруктами">
                </a>
                <div class="promotion-card__content">
                  <h3 class="promotion-card__title">
                    Фруктовая корзина, 1 шт
                  </h3>
                  <div class="promotion-card__wrapper">
                    <span class="promotion-card__availability">
                      в наличии
                    </span>
                    <div class="promotion-card__inner">
                      <div class="promotion-card__prise">
                        <div class="promotion-card__prise--new">3990<span>₽</span></div>
                        <div class="promotion-card__prise--old">5990 <span>₽</span></div>
                      </div>
                      <div class="promotion-card__rating">
                        <span class="promotion-card__rating-num">4.8</span>
                        <img class="promotion-card__star" src="images/icon-star.svg" alt="звезда рейтинга">
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </li>
            <li class="promotion-product__item">
              <article class="promotion-card mix category-hit">
                <span class="promotion-card__badge promotion-card__badge--hit">Хит</span>
                <a class="promotion-card__link" href="#">
                  <img class="promotion-card__img product__img--pineapple" src="images/product/pork-s.jpg" width="100"
                    height="100" alt="Свинина мякоть">
                </a>
                <div class="promotion-card__content">
                  <h3 class="promotion-card__title">
                    Свинина мякоть, 1 кг
                  </h3>
                  <div class="promotion-card__wrapper">
                    <span class="promotion-card__availability">
                      в наличии
                    </span>
                    <div class="promotion-card__inner">
                      <div class="promotion-card__prise">
                        <div class="promotion-card__prise--new">499<span>₽</span></div>
                        <div class="promotion-card__prise--old">599 <span>₽</span></div>
                      </div>
                      <div class="promotion-card__rating">
                        <span class="promotion-card__rating-num">4.6</span>
                        <img class="promotion-card__star" src="images/icon-star.svg" alt="звезда рейтинга">
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </li>
          </ul>
          <button class="promotion-product__btn btn" type="submit">
            Показать еще
          </button>
        </div>
      </div>
    </section>