    <section class="top-products section">
      <div class="container">
        <h2 class="title">
          Топовые товары
        </h2>
        <div data-ref="container-1">
          <ul class="products-filter">

            <li class="products-filter__item">
              <button class="products-filter__btn" type="button" data-filter="all">
                Все товары
              </button>
            </li>

            <li class="products-filter__item">
              <button class="products-filter__btn" type="button" data-filter=".category-fruit">
                Фрукты
              </button>
            </li>

            <li class="products-filter__item">
              <button class="products-filter__btn" type="button" data-filter=".category-vegetables">
                Овощи
              </button>
            </li>

            <li class="products-filter__item">
              <button class="products-filter__btn" type="button" data-filter=".category-beverages">
                Напитки
              </button>
            </li>

            <li class="products-filter__item">
              <button class="products-filter__btn" type="button" data-filter=".category-grocery">
                Бакалея
              </button>
            </li>
          </ul>

          <ul class="top-products__list">
            <li class="top-products__item  mix category-fruit">
              <article class="product-card">
                <div class="badges">
                  <span class="badges__badge badges__badge--new">Новинка</span>
                  <span class="badges__badge badges__badge--sale">-50%</span>
                </div>
                <button class="product-card__heart" type="button">
                  <svg class="product-card__icon" width="32" height="29">
                    <use xlink:href="images/sprite.svg#icon-heart"></use>
                  </svg>
                  <span class="sr-only">Перейти в избранное</span>
                </button>
                <a class="product-card__link" href="#">
                  <img class="product-card__img" src="images/product/pineapple.jpg" width="298" height="215"
                    alt="ананас">
                </a>
                <h3 class="product-card__subtitle">
                  Ананас, 1кг
                </h3>
                <div class="product-card__inner">
                  <div class="product-card__pricebox">
                    <span class="product-card__price product-card__price--old">1999 <span>₽</span></span>
                    <span class="product-card__price">999 <span>₽</span></span>
                  </div>
                  <button class="product-card__btn btn" type="button">
                    <svg class="product-card__cart" width="16" height="16">
                      <use xlink:href="images/sprite.svg#icon-cart"></use>
                    </svg>
                    <span class="sr-only">Добавить в корзину</span>
                  </button>
                </div>
              </article>
            </li>

            <li class="top-products__item mix category-fruit">
              <article class="product-card">
                <button class="product-card__heart" type="button">
                  <svg class="product-card__icon" width="32" height="29">
                    <use xlink:href="images/sprite.svg#icon-heart"></use>
                  </svg>
                  <span class="sr-only">Перейти в избранное</span>
                </button>
                <a class="product-card__link" href="#">
                  <img class="product-card__img" src="images/product/lemon.jpg" width="298" height="215" alt="лимон">
                </a>
                <h3 class="product-card__subtitle">
                  Лимон, 1кг
                </h3>
                <div class="product-card__inner">
                  <div class="product-card__pricebox">
                    <span class="product-card__price">199 <span>₽</span></span>
                  </div>
                  <button class="product-card__btn btn" type="button">
                    <svg class="product-card__cart" width="16" height="16">
                      <use xlink:href="images/sprite.svg#icon-cart"></use>
                    </svg>
                    <span class="sr-only">Добавить в корзину</span>
                  </button>
                </div>
              </article>
            </li>

            <li class="top-products__item mix category-fruit">
              <article class="product-card">
                <div class="badges">
                  <span class="badges__badge badges__badge--hit">Хит</span>
                </div>
                <button class="product-card__heart" type="button">
                  <svg class="product-card__icon" width="32" height="29">
                    <use xlink:href="images/sprite.svg#icon-heart"></use>
                  </svg>
                  <span class="sr-only">Перейти в избранное</span>
                </button>
                <a class="product-card__link" href="#">
                  <img class="product-card__img" src="images/product/dragon.jpg" width="298" height="215"
                    alt="питахайя">
                </a>
                <h3 class="product-card__subtitle">
                  Питахайя красная с белой мякотью, 1шт
                </h3>
                <div class="product-card__inner">
                  <div class="product-card__pricebox">
                    <span class="product-card__price">1019 <span>₽</span></span>
                  </div>
                  <button class="product-card__btn btn" type="button">
                    <svg class="product-card__cart" width="16" height="16">
                      <use xlink:href="images/sprite.svg#icon-cart"></use>
                    </svg>
                    <span class="sr-only">Добавить в корзину</span>
                  </button>
                </div>
              </article>
            </li>

            <li class="top-products__item mix category-grocery">
              <article class="product-card">
                <button class="product-card__heart" type="button">
                  <svg class="product-card__icon" width="32" height="29">
                    <use xlink:href="images/sprite.svg#icon-heart"></use>
                  </svg>
                  <span class="sr-only">Перейти в избранное</span>
                </button>
                <a class="product-card__link" href="#">
                  <img class="product-card__img" src="images/product/ketchup.jpg" width="298" height="215" alt="кетчуп">
                </a>
                <h3 class="product-card__subtitle">
                  Кетчуп томатный детский органический Bio-Zentrale 500мл, 1 шт
                </h3>
                <div class="product-card__inner">
                  <div class="product-card__pricebox">
                    <span class="product-card__price">600 <span>₽</span></span>
                  </div>
                  <button class="product-card__btn btn" type="button">
                    <svg class="product-card__cart" width="16" height="16">
                      <use xlink:href="images/sprite.svg#icon-cart"></use>
                    </svg>
                    <span class="sr-only">Добавить в корзину</span>
                  </button>
                </div>
              </article>
            </li>

            <li class="top-products__item mix category-vegetables">
              <article class="product-card">
                <div class="badges">
                  <span class="badges__badge badges__badge--hit">Хит</span>
                </div>
                <button class="product-card__heart" type="button">
                  <svg class="product-card__icon" width="32" height="29">
                    <use xlink:href="images/sprite.svg#icon-heart"></use>
                  </svg>
                  <span class="sr-only">Перейти в избранное</span>
                </button>
                <a class="product-card__link" href="#">
                  <img class="product-card__img" src="images/product/carrot.jpg" width="298" height="215" alt="морковь">
                </a>
                <h3 class="product-card__subtitle">
                  Морковь молодая с бабушкиной грядки, 1кг
                </h3>
                <div class="product-card__inner">
                  <div class="product-card__pricebox">
                    <span class="product-card__price">49 <span>₽</span></span>
                  </div>
                  <button class="product-card__btn btn" type="button">
                    <svg class="product-card__cart" width="16" height="16">
                      <use xlink:href="images/sprite.svg#icon-cart"></use>
                    </svg>
                    <span class="sr-only">Добавить в корзину</span>
                  </button>
                </div>
              </article>
            </li>
            
            <li class="top-products__item mix category-beverages">
              <article class="product-card">
                <div class="badges">
                  <span class="badges__badge badges__badge--sale">-30%</span>
                </div>
                <button class="product-card__heart" type="button">
                  <svg class="product-card__icon" width="32" height="29">
                    <use xlink:href="images/sprite.svg#icon-heart"></use>
                  </svg>
                  <span class="sr-only">Перейти в избранное</span>
                </button>
                <a class="product-card__link" href="#">
                  <img class="product-card__img" src="images/product/juice.jpg" width="298" height="215" alt="ананас">
                </a>
                <h3 class="product-card__subtitle">
                  Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин безалкогольн..
                </h3>
                <div class="product-card__inner">
                  <div class="product-card__pricebox">
                    <span class="product-card__price product-card__price--old">299 <span>₽</span></span>
                    <span class="product-card__price">199 <span>₽</span></span>
                  </div>
                  <button class="product-card__btn btn" type="button">
                    <svg class="product-card__cart" width="16" height="16">
                      <use xlink:href="images/sprite.svg#icon-cart"></use>
                    </svg>
                    <span class="sr-only">Добавить в корзину</span>
                  </button>
                </div>
              </article>
            </li>
            
            <li class="top-products__item mix category-beverages">
              <article class="product-card">
                <div class="badges">
                  <span class="badges__badge badges__badge--new">Новинка</span>
                </div>
                <button class="product-card__heart" type="button">
                  <svg class="product-card__icon" width="32" height="29">
                    <use xlink:href="images/sprite.svg#icon-heart"></use>
                  </svg>
                  <span class="sr-only">Перейти в избранное</span>
                </button>
                <a class="product-card__link" href="#">
                  <img class="product-card__img" src="images/product/coffee.jpg" width="298" height="215" alt="кофе">
                </a>
                <h3 class="product-card__subtitle">
                  Кофе с коноплей органический Caffé Salomoni 250г
                </h3>
                <div class="product-card__inner">
                  <div class="product-card__pricebox">
                    <span class="product-card__price">877 <span>₽</span></span>
                  </div>
                  <button class="product-card__btn btn" type="button">
                    <svg class="product-card__cart" width="16" height="16">
                      <use xlink:href="images/sprite.svg#icon-cart"></use>
                    </svg>
                    <span class="sr-only">Добавить в корзину</span>
                  </button>
                </div>
              </article>
            </li>
            <li class="top-products__item mix category-vegetables">
              <article class="product-card">
                <div class="badges">
                  <span class="badges__badge badges__badge--new">Новинка</span>
                </div>
                <button class="product-card__heart" type="button">
                  <svg class="product-card__icon" width="32" height="29">
                    <use xlink:href="images/sprite.svg#icon-heart"></use>
                  </svg>
                  <span class="sr-only">Перейти в избранное</span>
                </button>
                <a class="product-card__link" href="#">
                  <img class="product-card__img" src="images/product/paprik.jpg" width="298" height="215" alt="перец">
                </a>
                <h3 class="product-card__subtitle">
                  Перец оранжевый, 1кг
                </h3>
                <div class="product-card__inner">
                  <div class="product-card__pricebox">
                    <span class="product-card__price">349 <span>₽</span></span>
                  </div>
                  <button class="product-card__btn btn" type="button">
                    <svg class="product-card__cart" width="16" height="16">
                      <use xlink:href="images/sprite.svg#icon-cart"></use>
                    </svg>
                    <span class="sr-only">Добавить в корзину</span>
                  </button>
                </div>
              </article>
            </li>
          </ul>

        </div>
        <button class="btn btn--white" type="button">
          Показать еще
        </button>
      </div>
    </section>